[Unit]
Description=Ten Flying Fingers (TFF) Keyboard Remapper
Documentation=https://github.com/guettli/tff2
After=multi-user.target
Wants=systemd-udev-settle.service

[Service]
Type=simple
Restart=always
RestartSec=3
Nice=-20
ExecStart=/usr/local/bin/tff --config /etc/tff/tff-combos.yaml

[Install]
WantedBy=default.target
